<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/default-table.css}">
</head>
<body>
<h1>Especialidades disponibles</h1>
<table border="1">
    <thead>
    <tr>
        <th>especialidad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="speciality : ${category.specialties}">
        <td> <a th:href="@{/specialities/{id}(id=${speciality.id})}" th:text="${speciality.name}"></a> </td>
    </tr>
    </tbody>
</table>
<button onclick="window.history.back()">Volver Atrás</button>
</body>
</html>