<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/default-table.css}">
</head>
<body>
<h1>Servicios disponibles</h1>
<table border="1">
    <thead>
    <tr>
        <th>servicio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${specialty.services}">
        <td> <a th:href="@{/services/{id}(id=${service.id})}" th:text="${service.name}"></a> </td>
    </tr>
    </tbody>
</table>
<button onclick="window.history.back()">Volver Atrás</button>
</body>
</html>