<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<h2>Bienvenido Usuario</h2>
<p>Has accedido con el rol de usuario client.</p>
<button onclick="window.location.href='/users/clients/appointments'">Mis turnos</button>
<button onclick="window.location.href='/users/clients/categories'">Mis Categorias</button>
</body>
</html>