<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/appointment.css}">
</head>
<body>
<h1>Lista de Citas</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Servicio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.date}"></td>
        <td th:text="${appointment.time}"></td>
        <td th:text="${appointment.client != null ? appointment.client.name : ''}"></td>
        <td th:text="${appointment.professionalService != null && appointment.professionalService.service != null ? appointment.professionalService.service.name : 'N/A'}"></td>
    </tr>
    </tbody>
</table>
<button onclick="window.history.back()">Volver Atrás</button>
</body>
</html>