<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/default-table.css}">
</head>
<body>
<h1>Categorias disponibles</h1>
<table border="1">
    <thead>
    <tr>
        <th>categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td><a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}"></a></td>
    </tr>
    </tbody>
</table>
<button onclick="window.history.back()">Volver Atrás</button>
</body>
</html>