<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeprofessional.css}">
</head>

<body>
<header class="main-header">
    <h2 class="mb-0">Grupo 18</h2>
    <nav class="d-flex align-items-center flex-wrap mt-2">
        <a href="#turnos">Turnos de día</a>
        <a href="#agenda">Mi agenda</a>
        <a href="#clientes">Mis clientes</a>
        <a href="#nuevo">Nuevo turno</a>


        <p class="ms-3 mb-0">Bienvenido, <span th:text="${username}"></span></p>
        <form th:action="@{/logout}" method="post" class="ms-3">
            <button type="submit" class="btn btn-light btn-sm">Cerrar sesión</button>
        </form>
    </nav>
</header>

<main>
    <section id="turnos" class="seccion-opcion rojo"
             th:onclick="|window.location.href='/users/professionals/appointments/${userId}/today'|">
        <div class="contenido-opcion">
            <span class="titulo-opcion">Turnos de día</span>
            <span class="descripcion-opcion">· Visualizá todos los turnos agendados para hoy.</span>
        </div>
    </section>

    <section id="agenda" class="seccion-opcion celeste"
             th:onclick="|window.location.href='/users/professionals/appointments/${userId}'|">
        <div class="contenido-opcion">
            <span class="titulo-opcion">Mi agenda</span>
            <span class="descripcion-opcion">· Consultá tu calendario de turnos completo.</span>
        </div>
    </section>

    <section id="clientes" class="seccion-opcion amarillo"
             th:onclick="|window.location.href='/users/professionals/${userId}/clients'|">
        <div class="contenido-opcion">
            <span class="titulo-opcion">Mis clientes</span>
            <span class="descripcion-opcion">· Accedé a la información de tus clientes.</span>
        </div>
    </section>

    <section id="nuevo" class="seccion-opcion oscuro"
             th:onclick="|window.location.href='/users/professionals/appointments/new'|">
        <div class="contenido-opcion">
            <span class="titulo-opcion">Nuevo turno</span>
            <span class="descripcion-opcion">· Agendá un nuevo turno personalizado.</span>
        </div>
    </section>
</main>
</body>
</html>