<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<header class="main-header">
    <div class="company-name"><h2 class="nombre-empresa">Grupo 18</h2></div>
    <nav>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Cerrar sesion</button>
        </form>

        <p>Bienvenido, <span th:text="${username}"></span></p>

    </nav>
</header>
<div class="contenedor">
    <div class="opciones">
        <div th:onclick="|window.location.href='/users/professionals/appointments/${userId}/today'|" class="opcion rojo">Turnos de día</div>
        <div th:onclick="|window.location.href='/users/professionals/appointments/${userId}'|" class="opcion celeste">Mi agenda</div>
        <div th:onclick="|window.location.href='/users/professionals/${userId}/clients'|" class="opcion amarillo">Mis clientes</div>
    </div>

</div>
</body>
</html>